.cartContenedor{
  display: flex;
  padding-top: 3%;
}

.cartItem{
  margin: 0 auto;
  display: flex;
  height: 300px;
  border-bottom: 1px solid rgba(255,255,255);
}

.listaCart {
  width: 300px;
}

.listaDescripcion {
  width: 200px;
}

.listaItem{
  text-align: left;
  width: 500px;
}

.listaDescripcion p, .listaItem p{
  margin: 2px;
  font-size: 20px;
}


.delete{
  margin: 100px auto;
  cursor: pointer;
}