p {
  color: #b89cec;
  padding: 20px;
  text-align: center;
}
.descripcion {
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.titulo {
  color: #805b7f;
  text-align: center;
}
.detalle {
  color: #ecb7e97f;
  text-align: center;
}

.terminarCompra{
  font-size: 25px;
  text-align: center;
  width: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.5); 
  color: white;
  background-color:rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px #fff;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
}
