.titulo{
  color: #d9bbcb;
  font-size: 2rem;
}

.texto {
  background-color: rgb(216, 179, 206);
  color: #ffffff;
  text-align: center;
}

.ItemListContainer{
  text-align: center;
  margin: 30px auto;
  max-width: 90%;
  min-height: 72vh;
}