.titulo{
  color: #d9bbcb;
  font-family: MuseoSans-300;
  font-size: 2rem;
}

.texto {
  background-color: rgb(216, 179, 206);
  color: #ffffff;
  text-align: center;
}

.ItemListContainer{
  padding-top: 20px;
  text-align: center;
  margin: 100px auto;
  font-family: sans-serif;
  max-width: 80%;
 
}

.cargando{
  color: #fff;
  text-align: center;
  margin-top: 20%;
  
}