.postres {
  width: 350px;
  background-color: white;
  border-radius: 30px;
  padding-top: 30px;
  margin-top: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}
.imagenesPostre:hover {
  scale: 1.1;
  transition: 1.5s;
}

.h2,h3 {
  color: rgb(189, 151, 188);
  text-align: center;
}
img{
  border-radius: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin: 15px  auto;
}