.lista {
  display: inline-block;
  font-weight: bold;
  padding: 20px;
}
a {
  text-decoration: none;
  color: #d9a9cc;
}
.lista:hover {
  transform: scale(1.1);
}
.botonSesion {
  border: 1px solid #e0b0c85e;
  /*anchura, estilo y color borde*/
  padding: 5px;
  /*espacio alrededor texto*/
  background-color: #e0b8d1;
  /*color botón*/
  color: #ffffff;
  /*color texto*/
  text-decoration: none;
  /*decoración texto*/
  text-transform: uppercase;
  /*capitalización texto*/
  border-radius: 50px;
  text-align: center;
  margin-top: 10px;
}

.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(244, 244, 244);
}

.logo {
  width: 70px;
  border-radius: 100px;
}
.logo:hover {
  transform: scale(1.2);
  transition: 1.3s;
}